.custom-navbar {
  background-color: #1f3c88;
  padding: 0.5vh 15vh;
}

.nav-item {
  margin: 0 20px;
}

.banner-custom {
  padding: 10vh 0vh;
}

@media print {
  .cv-preview,
  .cv-preview * {
    visibility: visible;
  }

  .cv-preview {
    position: absolute;
    left: 0;
    top: 0;
  }

  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
}
